In [1]:
#1 hellow world
print("Hello World")

Hello World

In [2]:
#2 add two number
a=20
b=30
c=a+b
print("sum =",c)

sum = 50

In [3]:
#3 find squre root
a=int( input("Enter a numer"))
root=a**0.5
print ("root =",root)

Enter a numer5
root = 2.23606797749979

In [4]:
#4 calculate aera of triangle
a = float(input("Enter first side"))  
b = float(input("Enter second side"))  
c = float(input("Enter third side"))  
semi_p =(a + b + c)/2  
area = (semi_p*(semi_p-a)*(semi_p-b)*(semi_p-c)) ** 0.5  
print('The area of the triangle is %0.2f' %area)

Enter first side5
Enter second side5
Enter third side5
The area of the triangle is 10.83

In [5]:
#5 quadratic equation

In [6]:
#6 swap two variable
a=input("Enter A Number")
b=input("Enter second Number")
a,b=b,a
print("Swap =",a,b)

Enter A Number5
Enter second Number5
Swap = 5 5

In [7]:
#7 generate random number

In [8]:
#8 convert kilometer to miles
a=float(input("Enter the value"))
miles=a*0.621371
print(a,"km =",miles,"miles")

Enter the value5
5.0 km = 3.106855 miles

In [9]:
#9 convert celsius to fahrenheit
a=float(input("Enter a number in celsius"))
fah=(a*1.8)+32
print(a,"Celsius =",fah,"fahrenhite")

Enter a number in celsius5
5.0 Celsius = 41.0 fahrenhite

In [10]:
#10 check number is posiotive negative or zero
a=int(input("Enter a number"))
if(a<0):
    print("negative")
elif(a==0):
    print("equal to zero")
else :
    print("positive")

Enter a number5
positive

In [11]:
#11 odd even
a=int(input("Enter a number"))
if (a%2==0) :
    print("Even")
else :
    print("odd")

Enter a number5
odd

In [12]:
12#leap year
a=int(input("Enter a number"))
if (a%400==0):
    print("Leap year")
elif(a%100==0):
    print("Not a Leap year")
elif(a%4==0):
    print("Leap year")
else :
    print(" Not a leap year")

Enter a number5
 Not a leap year

In [13]:
13#find largest among three
a=int(input("Enter first number"))
b=int(input("Emter second number"))
c=int(input("enter third number"))
if (a>b and a>c):
    print(a,"is largest")
elif (b>a and b>c):
    print(b," is largest")
else :
    print(c,"is largest")

Enter first number5
Emter second number5
enter third number5
5 is largest

In [14]:
14#prime
a=int(input("Enter a number"))
n=a
f=0
for i in range(2,n):
    if(a%i==0) :
        f=1
        break
if (f==1):
    print("not prime")
else:
    print("prime")

Enter a number5
prime

In [15]:
#15 all prime
n=int(input("Enter a number"))
n=a
f=0
for i in range(2,n):
    if (a%i!=0):
        f=1
        break
if (f==1):
    print(a)

Enter a number5
5

In [16]:
#16 factorial
a=int(input("enter a number"))
fact=1
for i in range (1,a+1):
    fact=fact*i
    print(fact)

enter a number5
1
2
6
24
120

In [17]:
#17 multiplecation table
a=int(input("Enter a number"))
for i in range(1,11):
    t=a*i
    print(t,"*",i,"=",t)

Enter a number5
5 * 1 = 5
10 * 2 = 10
15 * 3 = 15
20 * 4 = 20
25 * 5 = 25
30 * 6 = 30
35 * 7 = 35
40 * 8 = 40
45 * 9 = 45
50 * 10 = 50

In [18]:
#18 fibonacci sequence
n = int(input("enter a number where up to print "))
n1, n2 = 0, 1
count = 0
if n == 1:
   print("Fibonacci sequence upto",n,)
   print(n1)
else:
   print("Fibonacci sequence:")
   while count < n:
       print(n1)
       nth = n1 + n2
       n1 = n2
       n2 = nth
       count += 1

enter a number where up to print 5
Fibonacci sequence:
0
1
1
2
3

In [19]:
#19 Armstrom number
num=int(input("Enter a number"))
sum=0
temp=num
while temp>0:
   digit = temp%10
   sum += digit ** 3
   temp//= 10
if num==sum:
   print(num,"is an Armstrong number")
else:
   print(num,"is not an Armstrong number")

Enter a number5
5 is not an Armstrong number

In [20]:
#20 find armstrong number in an interval
l = 100
u = 2000
for num in range(l,u+1):
   order=len(str(num))
   sum = 0
   temp = num
   while temp > 0:
       digit = temp % 10
       sum += digit**order
       temp //= 10
   if num == sum:
       print(num)

153
370
371
407
1634

In [21]:
#21 find the sum of natural number
n=int(input("Enter a positive number"))
for i in range (0,n):
    sum=(i+n)
    sum_a=sum+i
    print(sum_a)

Enter a positive number5
5
7
9
11
13

In [22]:
#22 Display Powers of 2 using Anonymous function
n= int(input("Enter a number where upto print"))
print("The total terms are",n)
for i in range(0,n):
    a=list(map(lambda x : 2**x,range(n)))
    print("2 rais to power of",i,"is",a[i])

Enter a number where upto print5
The total terms are 5
2 rais to power of 0 is 1
2 rais to power of 1 is 2
2 rais to power of 2 is 4
2 rais to power of 3 is 8
2 rais to power of 4 is 16

In [23]:
#23 Find number divisible by another number
b=int(input("Enter the number of list"))
l=[]
print("Enter the element list")
for i in range(0,b):
    ele=int(input())
    l.append(ele)
print(l)
a=int(input("enter a number that divides x"))
result = list(filter(lambda l: (l % a == 0), b))
print("Numbers divisible by ",a," are",result)

Enter the number of list5
Enter the element list
5
5
5
5
5
[5, 5, 5, 5, 5]
enter a number that divides x5

TypeError: 'int' object is not iterable

In [ ]:
#24 convert decimal to binary, octal and hexadecimal
n=int(input("Enter the number "))
dec=n
print("the decimal number of",n,"is")
print(bin(dec),"in binary")
print(oct(dec),"in octal")
print(hex(dec),"in Hexadecimal")

In [ ]:
#25 Find ASCII value of Character
c=(input("Enter a charactor"))
print("The ascci value of "+c+" is",ord(c))

In [ ]:
#26 Find HCF of GCD
a=int(input("Enter a number"))
b=int(input("enter second number"))
def o_hcf(x,y):
    if x > y:
        small = y
    else:
        small = x
    for i in range(1, small+1):
        if((x % i == 0) and (y % i == 0)):
            hcf = i 
    return hcf
print("The H.C.F. is", o_hcf(a,b))

In [ ]:
#27 Find LCM
a=int(input("Enter a number"))
b=int(input("enter second number"))
def c_lcm(x, y):
   if x > y:
       greater = x
   else:
       greater = y
   while(True):
       if((greater % x == 0) and (greater % y == 0)):
           lcm = greater
           break
       greater += 1

   return lcm
print("The L.C.M. is", c_lcm(a,b))

In [ ]:
#28 Find the factors of a number
a=int(input("Enter a number"))
def print_factors(x):
   print("The factors of",x,"are:")
   for i in range(1, x + 1):
       if x % i == 0:
           print(i)
print_factors(a)

In [ ]:
#29 Make a simple calculator
a=int(input("Enter a number"))
c=input("enter a choice{for addition(+),for substraction(-).for multiplication(*),for divide(/)}")
b=int(input("enter second number"))
add=a+b
sub=a-b
div=a/b
mul=a*b
if c=='+':
    print("The addition of",a,"+",b,"is =",add)
elif c=='-':
    print("The substaction of",a,"-",b,"is =",sub)
elif c=='/':
    print("The divition of",a,"/",b,"is =",div)
elif c=='*':
    print("The multiplication of",a,"*",b,"is =",mul)
else :
    print("enter correct choice")

In [ ]:
#30 Shuffle Deck of cards

In [ ]:
#31 Display calender 
import calander

In [ ]:
#32  Display fibonacci Sequence using recursion 
def fibo(n):
    if(n<=1):
      return 1
    else:
      return (fibo(n-1)+fibo(n-2))
       
n=int(input("Enter then fibo number::\n")) 
print("FIBONACCY SERIESE\n")
for i in range(n):
    print(fibo(i),end=" \n")  
print(fibo(n))

In [ ]:
#33 find sum of natural number using recursion
def recur(n):
   if n <= 1:
       return n
   else:
       return n + recur(n-1)
num=50
if num < 0:
   print("Enter a positive number")
else:
   print("The sum is",recur(num))

In [ ]:
#34 Find factorial of number using recursion
fact=1
for i in range (1,a+1):
    fact=fact*i
    print(fact)

In [ ]:
#35 Convert decimal to binary using recursion

In [ ]:
#36 Add two matrix

In [ ]:
#37 transpose a matrix

In [ ]:
#38 multiply two matrix

In [ ]:
#39 check whether a string is palindrome o not

In [ ]:
#40 Remove punctuation from a string

In [ ]:
#41 Sort Words in Alphabetic order

In [ ]:
#42 Illustrate Different set Operation

In [ ]:
#43 Count the umber of each vowel

In [ ]:
#44 Merge Mails

In [ ]:
#45 Find the sixe(Resolution) of a image

In [ ]:
#46 Find hash of file

In [ ]:
#47 Create pyramid patterns

In [ ]:
#48 Merge two dictionaries

In [ ]:
#49 Safely Create a Nested Directory

In [ ]:
#50 Access Index of a list using for loop

In [ ]:
#51 Make a flattend list from nested list

In [ ]:
#52 Slice Lists

In [ ]:
#53 Itrate over dictionaries using loop

In [ ]:
#54 Sort a Dictionary by value

In [ ]:
#55 Check if a list is Empty

In [ ]:
#56 Catch Multiple Exception in one line

In [ ]:
#57 copy a file

In [ ]:
#58 Concatenate two lists

In [ ]:
#59 check if  key is already present in a dictionary

In [ ]:
#60 split a list into Evenly size chunks

In [ ]:
#61 parse a string to a float or int

In [ ]:
#62 print colored text to the terminal

In [ ]:
#63 convert string to datetime

In [ ]:
#64 get the last element of the list

In [ ]:
#65 Get a substring of a string

In [ ]:
#66 Print output without a new line

In [ ]:
#67 Read a file line by line into a list

In [ ]:
#68 randomly select an element from the list

In [ ]:
#69 Check if a string is a number(float)

In [ ]:
#70 count the occurrence of an item in a list

In [ ]:
#71 Append to a file

In [ ]:
#72 Delete an element from a dictionary

In [ ]:
#73 Create a long Multiline string

In [ ]:
#74 Extract Extension from the file name

In [ ]:
#75 Measure the Elapsed Time in python

In [ ]:
#76 Get the class name of an instance

In [ ]:
#77 convert two list into a dictionary

In [ ]:
#78 Diufference between type() and isinstance()

In [ ]:
#79 Trim whitespace from a string

In [ ]:
#80 Get the file name from the file path